.card-wrapper {
  min-height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px 0 5px 25px;
  width: 100%;
  transition: box-shadow 300ms;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.16), 0 3px 5px rgba(0, 0, 0, 0.32);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-title {
  font-size: 18px;
}

.delete-task {
  margin-right: 20px;
  cursor: pointer;
}

.edit-task {
  margin-right: 20px;
  cursor: pointer;
}

.icons-wrapper {
  margin-top: 25px;
}

.edit-input {
  padding: 7px;
  margin-top: 20px;
  margin-bottom: 18px;
}

.save-task {
  cursor: pointer;
}

.cancel-task {
  cursor: pointer;
  margin-left: 15px;
}

.editing-icons-wrapper {
  margin-right: 20px;
  margin-top: 23px;
  font-size: 19px;
}
