.task {
    min-height:30px;
    margin-bottom: 20px;
    padding: 5px;
    border: 5px solid cornflowerblue;
    border-radius: 7px;
    transition: box-shadow 400ms;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.task:hover {
    box-shadow: 0 6px 12px rgba(201, 203, 207, 0.534), 0 10px 10px rgba(7, 14, 75, 0.22);
}

.task-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #73d3ff;
    font-weight: bolder;
}

.edit {
    color: rgb(223, 118, 136);
    cursor: pointer;
}

.close {
    color: red;
    cursor: pointer;
}
.close:hover {
    background-color: rgba(206, 91, 145, 0.486);
}