li {
  padding: 15px;
  color: black;
  border-top: none;
  border-bottom: 1px solid lightgrey;
  background-color: white;
  display: flex;
  flex-direction: row;
}
li p {
  margin-top: auto;
  margin-bottom: auto;
}
.li:last-child {
  border-bottom: none;
}

.__orange button {
  color: #efb300;
}

.__orange button:hover {
  color: coral;
}
