.title {
  font-weight: bold;
  text-align: center;
  color: royalblue;
}

.add-button {
  background: none;
  color: royalblue;
  border: none;
  padding: 0;
  margin-left: 15px;
  font: inherit;
  font-size: 35px;
  cursor: pointer;
  outline: inherit;
}

.input {
  border-radius: 20px;
  border: none;
  padding: 15px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16), 0 2px 6px rgba(0, 0, 0, 0.32);
}

.task-title {
  color: royalblue;
  margin-left: 10px;
  margin-top: 50px;
}
